<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js">


    <style>
         *{
            font-family: 'Montserrat', sans-serif;
         }

        html {
            background-color: {{style.background_color}};
            color: {{style.text_color}};
            position: relative;
            height: 100vh;
        }

        /* body {
            background-color: {{style.background_color}};
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }*/
        img {
            width: 350px;
        }

        table{
            border-spacing: 0px;
            with:100%;
        }

        .table td, .table th{
            padding: .75em;
            vertical-align:top;
            text-align:center;
            border-top: 1px solid var(--border);
        }

        td{
            background-color: #a3c3e3;
        }

        table. td>a.btn{
            padding: .3em 1em;
            font-size: 1.1em;
            margin: 2em;
        }

        a{
            font-size:1em;
            padding:.0em 0em;
        }
        @media only screen and (max-width: 1024px){
            table, thead, tbody, th, td, tr{
                display: block;
            }

            thead tr{
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr{
                border:1px solid var(--border);
            }

            td{
                border: none;
                position: relative;
            }

        }

        .topnav {
          height: 80px;
          overflow: hidden;
          background-color: #2b589f;
          color: white;
        }
        
        /*add style for update and add expert*/
        .form-title{
            margin-top:2em;
        }

        .form-title > h2{
            padding:.5em 0;
        }
        .new_e{
            max-width:786px;
            margin:auto;
        }

        #update_expert .form-group,
        #add_expert .form-group{
            margin:.4em 0;
        }

        #update_expert .form-group input[type="text"],
        #add_expert .form-group input[type="text"]{
            width:100%;
            padding:.6em 1em;
            margin:.5em 0;
            border:1px solid var(--border);
            font-family:'Barlow',sans-serif;
            font-size: 1em;
            border-radius:.2em;
            background-color: #b2ceec;
        }

        #update_expert .form-group .btn,
        #add_expert .form-group .btn{
            width: 100%;
            padding: .6em 1em;
            border:nome;
            font-family: 'PT Sans' sans-serif;
            font-size:1em;
            cursor:pointer;
            border-radius:.2em;
            margin: 2em 0;
        }


    </style>

</head>

<body>
    <div class="topnav"><br>
      <center><h3>Animalec</h3></center>
    </div>
 <br><br>
<main id="site-main">
    <div class="container"> 
        <div class="box-nav d-flex justify-between">
         <a href="/"> <i class="fa fa-angle-double-left"></i> All Experts </a>  
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark"> Update Expert </h2>
            <span>Use the below form to update Expert</span>
        </div>
        
        <form action="/api/expert" method="POST" id="update_expert"> 
           <div class="new_expert">
               <div class="form-group">
                   <label for="name" class="text-dark">Name</label>
                   <input type="hidden" name="id" value="">
                   <input type="text" name="name" value="{{data.name}}" placeholder="">
               </div>
               
               <div class="form-group">
                   <label for="email" type="email" class="text-dark">Email</label>
                   <input type="text" name="email" value="{{data.email}}" placeholder="example@email.com">
               </div>
               
               <div class="form-group">
                   <label for="nacionality" class="text-dark">Nacionality</label>
                   <input type="text" name="nationality" value="{{data.nationality}}" placeholder="">
               </div>

               <div class="form-group">
                   <label for="ability" class="text-dark">Ability</label>
                   <input type="text" name="ability" value="{{data.ability}}" placeholder="">
               </div>

               <div class="form-group">
                    <input type="submit" class="btn btn-primary text-dark update"> Save</input>
                </div>
           </div>
           
        </form>
        
    </div>
</main>
<script type="text/javascript">
    $("#update_expert").submit(function(event){
        event.preventDefault();

        var unindexed_array=$(this).serializeArray();
        var data = {}

        $.map(unindexed_array.function(n,i){
            data[n["name"]] = n['value']
        })

        console.log(data);

        var request = {
            "url":"http://localhost:8080/api/expert/$(data.id)"
            "method" : "PUT",
            "data" : data
        }
        $.ajax(request).done(function(response){
            alert("Save Done!")
        })
        
    })
</script>
</body>
</html>